/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');

/* Reset for all elements */
*{
    background-origin: border-box;
    padding: 0 ;
    margin: 0 ;
}

/* BASE styling*/
body {
    font-family: 'Roboto', Arial, sans-serif;
    color:#2F4F4F;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #047aed;
    color: #fff;
    z-index: 1;
}

header a {
    color: #fff;
}

#nav-container {
    max-width: 1024px; 
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logo {
    margin-left: 10px;
}

.logo a{
    font-family: 'Mrs Saint Delafield', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}

header .logo a:hover {
    color: #fff;
}

nav ul {
    margin: 0 !important;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

/* HOME */
#home {
    /* 
    hero-img src - https://www.pexels.com/photo/matrix-background-1089438/
    */
    background-image: url('../assets/images/hero-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* 100% viewport height*/   
    position: relative;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    max-width: 1024px;
    text-align: center;
}

.home-container i {
    color: #FFFF00;
}

.home-container h1{
    font-size: 64px;
}

.home-container h1 span {
    /* color: #047aed; */
    color:#87CEFA;
    font-weight: 900;
    font-size: 64px;
}

.home-container p {
    font-size: 30px;
}


.home-container .botton {
    margin-top: 2%;
    color: #fff;
    background-color: #047aed;
    padding: 10px;
    border-radius: 10px;
}

.home-container .botton i {
    color: #fafafa;
}

.home-container .botton:hover {
    background-color: rgba(4,122,237, 0.5);
}

/* ABOUT */
#about {
    max-width: 1024px;
    padding: 10px;
    margin: auto;
}

.section-title {
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
}

#about article {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
}

.about-img {
    padding: 0 10px;
    /* position: relative;
    height: 100%;
    width: 100%;
    */
    /* Code block idea from Bedimcode */
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, 0.8); */
}

.img-block {
    /* display: block;
    
    padding-top: 1rem;
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%; */
}

.about-img img {
    /* display: block;
    margin: auto; */
}

.about-content {
    padding: 0 10px;
}

.about-content .contact {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact .resume-btn {
    display: block;
}

.about-content .contact strong {
    display: block;
}

.blue-email {
    color:#047aed;
}

.contact .socials a {
    margin-right: 10px;
    font-size: 25px;
}
